
.main-header{
  display: flex;
  background-color: #F28705;
}

.menu-opcoes{
  display:flex;
  margin-left: 15%;
  justify-content: center;
}

.menu-opcoes-btn{
  justify-content: center;
  margin-top: 20%;
  margin-left: 50%;

}

button{
  background-color: #f7c58991;
  border: 3px solid black;
  width: 205%;
  height: 40%;
  padding-right: 30%;
  justify-content: center;
}

img{
  width: 85%;
  height: 85%;
  margin-top: 5%;
  margin-left: 5%;
  cursor: pointer;
}



