p{
    display: flex;
    justify-content: center;
    margin-top: 2%;
    font-weight: bold;
    font-size: 30px;
}

img{   
    align-items: center;
    margin-bottom: 2%;
    margin-left: 38%;
    margin-top: 2%;
}

